.btn{
    width: 150px;
    height: 48px;
    background-color: #8e3ee9;
    color: white;
    padding: 8px;
    border-radius: 40px;
    border: whitesmoke solid 2px;
    font-size: 20px;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}