:root{
    --primary-color: #fa75f8;
    --secondary-color: #000000;
    --text-color: #ffffff;
}

/* .btn{
    width: 150px;
    height: 48px;
    background-color: var(--primary-color);
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
} */

.btn {
  position: relative;
  padding: 16px 40px;
  font-size: 18px;
  color: white;
  background: linear-gradient(90deg, #9b4de3, #ff5ccf);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden; /* important */
}

/* the circle */
.btn::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 140px;
  background: radial-gradient(
    circle at center,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.05)
  );
  border-radius: 50%;
  top: -40px;
  right: -40px;
}

.btn::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 140px;
  background: radial-gradient(
    circle at center,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.05)
  );
  border-radius: 50%;
  top: -40px;
  right: -40px;
    transition: transform 0.4s ease;
}

.btn:hover::after {
  transform: translateX(-60px);
  /* background-color: #000000; */
}


/* .btn:hover{
    cursor: pointer;
    background-color: black;
    border: whitesmoke solid 1px;
} */
